/* VARIABLES */
:root{
    --color-primario: #4e1426;
    --primario-fuerte: #97294c;
    --color-secundario: #ffffff67;
    --color-fondo: #311f25;
    --color-texto: #f3f3f3;
    --color-footer: #2e2e2e;
    --fuente-principal: Verdana, Geneva, Tahoma, sans-serif;
}